/* ---------- root variables ---------- */
:root {
    --green: rgb(38, 76, 89);
    --light-green: rgb(172, 198, 201);
    --light-grey: #f1f1f4;
    --text-color-light: #f1f1f1;
    --text-color-dark: #333;
}

/* ---------- general styling ---------- */
html {
    color: var(--text-color-dark);
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: #97C567;
    font-family: sofia-pro, sans-serif;

}

h1 {
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 3px;
}

h2 {
    margin-left: 10vw;
    font-size: 9vw;
    color: black;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
}

button {
    border: 2.5px outset black;
    background-color: white;
    height: 10vw;
    width: 35vw;
    font-family: sofia-pro, sans-serif;
    font-weight: 800;
    font-size: 4.75vw;
    box-shadow: 2.5px 2.5px;
    outline: none;
}

.tekst {
    margin-left: 10vw;
    margin-right: 10vw;
    line-height: 7.5vw;
    color: black;
    font-size: 4.25vw;
    margin-top: 0;
    margin-bottom: 0;
}

/* ---------- se hvilken font-weight de forskellige typer skal have:
BLACK
font-weight: 900;
font-style: normal;

BOLD
font-weight: 700;
font-style: normal;
REGULAR
font-weight: 400;
font-style: normal;
---------- */

/* ---------- Grid container ---------- */
.grid-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

/* ---------- topbar styling ---------- */
.topbar {
    background-color: transparent;
    padding: 2em 0;
    text-transform: uppercase;
}

.topbar h2 {
    margin: 0;
    font-weight: 300;
}

/* ---------- header styling ---------- */


.campingvogn-billede {
    width: 30%;
}

.img-col img {
    max-width: 200px;
    margin: 0;
    position: absolute;
    bottom: 0;
}

.grid-container section {
    position: relative;
}

/* ---------- tabbar styling ---------- */
.tabbar {
    background-color: var(--green);
    margin: auto;
    width: 100%;
}

/* Style the links inside the navigation bar */
.tabbar a {
    display: inline-block;
    color: var(--text-color-light);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* Change the color of links on hover */
.tabbar a:hover {
    background-color: var(--light-grey);
    color: var(--text-color-dark);
}

/* Add a color to the active/current link */
.tabbar a.active {
    background-color: var(--light-green);
    color: var(--text-color-light);
}

/* ---------- page styling ---------- */
.page {
    display: none;
    animation: fadeIn 0.4s;
}

.links {
    text-decoration: underline;
    font-weight: 700;
    color: black;
}


/* ---------- forside MAJA ---------- */
#forsidelogo {
    width: 50%;
    margin: 0 auto;
    display: block;
}

#centertekst {
    text-align: center;
}

#forsidestemningsbilleder {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#forsidescorekort {
    text-transform: uppercase;
    width: 45vw;
    margin-top: 20px;
    margin-bottom: 30px;
}

#forsidepriser {
    margin-bottom: 20px;
}

#forsidetider {
    margin-bottom: 20px;
}

#forsidebanekort {
    display: block;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}



/*---------burgermenu TINE--------*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
    line-height: 2;
    font-weight: 700;
}



#menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);

}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);

}

.hidemenu {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 309px;
    margin: -55px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -50px;
    text-align: center;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked~ul {
    transform: scale(1.0, 1.0);
    opacity: 1;

}

#menuToggle input:checked~span {
    background-color: none;
    box-shadow: none;
    border: none;
    padding: none;
}

.hvid_boks {
    background-color: white;
    box-shadow: 3px 3px;
    border: 2px outset black;
}

.burger {
    background-color: white;
    box-shadow: 3px 3px;
    border: 2px outset black;
    padding: 10px 6px;
}

div.burger {
    margin-right: -30px;
    margin-top: -24px;
}

/*BESTILLING SIDE START---------*/

#sultenefterburger {
    margin-top: 5vw;
}

#bestilknapper {
    display: flex;
    justify-content: space-between;
    margin: 10vw;
    margin-top: 7vw;
    margin-bottom: 7vw;
}

#bestiltekst {
    margin-bottom: 20vw;
}


/* ---------- menukort styling (pernille) ---------- */

#menukort-billede {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 3%;
}

#drikkekort-billede {
    width: 80%;
    margin: 0 auto;
    display: block;
}


.activeButton {
    background-color: #dd5050;
}


.activeButton>span {
    color: white;
}

/*scorekort start*/

/*onboarding*/
.golfben {
    width: 100%;
}

.golfben2 {
    width: 100%;
    position: relative;
    top: -6vw;
    left: 3vw;
}

#onboardtekst {
    margin-bottom: 20vw;
}

.onboardknap {
    display: block;
    margin: auto;
}

/*antalspillere*/

/* ---------- footer styling (pernille) ---------- */


.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.footer-grid-item-1 {
    grid-area: 2 / 1 / 3 / 2;
    align-self: end;
}

.footer-grid-item-2 {
    grid-area: 1 / 1 / 2 / 4;
    margin-top: 5%;

}

.footer-grid-item-3 {
    grid-area: 2 / 2 / 3 / 3;
    margin-top: 6%;
}

.footer-grid-item-4 {
    grid-area: 2 / 3 / 3 / 4;
    align-self: end;
}


.telt-billede {
    width: 115%;
}

.kiosk-billede {
    width: 115%;
    float: right;

}

.footer-grid-item-2>p {
    text-align: center;
}

.bold-tekst-footer {
    font-weight: 700;
    font-size: 20px;
}

.footer-grid-item-3 {
    display: flex;
}

.footer-grid-item-3>div {
    text-align: center;
    justify-content: center;
}

.footer-grid-item-3>div>a>img {
    width: 60%;
}

.facebook-billede>a>img {
    margin-right: 8%;
    float: right;
}

.instagram-billede>a>img {
    margin-left: 8%;
    float: left;
}