/* ---------- root variables ---------- */
:root {
    --green: rgb(38, 76, 89);
    --light-green: rgb(172, 198, 201);
    --light-grey: #f1f1f4;
    --text-color-light: #f1f1f1;
    --text-color-dark: #333;
}

/* ---------- general styling ---------- */
html {
    color: var(--text-color-dark);
}

body {
    margin: 0;
    background-color: #97C567;
    font-family: sofia-pro, sans-serif;

}

.hide {
    display: none;
}


h1 {
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 3px;
}

h2 {
    margin-left: 10vw;
    font-size: 9vw;
    color: black;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
}

button {
    border: 2.5px outset black;
    background-color: white;
    height: 10vw;
    width: 35vw;
    font-family: sofia-pro, sans-serif;
    font-weight: 800;
    font-size: 4.75vw;
    box-shadow: 2.5px 2.5px;
    outline: none;
}

.tekst {
    margin-left: 10vw;
    margin-right: 10vw;
    line-height: 7.5vw;
    color: black;
    font-size: 4.25vw;
    margin-top: 0;
    margin-bottom: 0;
}

/* ---------- se hvilken font-weight de forskellige typer skal have:
BLACK
font-weight: 900;
font-style: normal;

BOLD
font-weight: 700;
font-style: normal;
REGULAR
font-weight: 400;
font-style: normal;
---------- */

/* ---------- header styling ---------- */

.campingvogn-billede {
    width: 30%;
}


/* ---------- page styling ---------- */
.page {
    display: none;
    animation: fadeIn 0.4s;
}

.links {
    text-decoration: underline;
    font-weight: 700;
    color: black;
}

.exit {
    text-align: center;
}

/* ---------- forside MAJA ---------- */
#forsidelogo {
    width: 50%;
    margin: 0 auto;
    display: block;
}

#centertekst {
    text-align: center;
}

#forsidestemningsbilleder {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#forsidescorekort {
    width: 40vw;
    margin-top: 20px;
    margin-bottom: 30px;
}

#forsidepriser {
    margin-bottom: 20px;
}

#forsidetider {
    margin-bottom: 20px;
}

#forsidebanekort {
    display: block;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/*---------burgermenu (TINE)--------*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
    font-weight: 700;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

.hidemenu {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menu {
    display: none;
    position: absolute;
    width: 290px;
    margin: -55px 0 0 0;
    padding: 50px;
    right: -40px;
    text-align: center;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
    font-weight: bolder;
    line-height: 50px;
}

#menuToggle input:checked~ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
    display: block;
}

#menuToggle input:checked~span {
    background-color: none;
    box-shadow: none;
    border: none;
    padding: none;
}

.hvid_boks {
    background-color: white;
    box-shadow: 3px 3px;
    border: 2px outset black;
}

.burger {
    background-color: white;
    box-shadow: 3px 3px;
    border: 2px outset black;
    padding: 22px 22px;
}

div.burger {
    margin-right: -9px;
    margin-left: -8px;
    margin-top: -15px;
    position: absolute;
    z-index: -999;
}

/*BESTILLING SIDE START---------*/

#sultenefterburger {
    margin-top: 5vw;
}

.bestilknapper {
    display: flex;
    justify-content: space-between;
    margin: 10vw;
    margin-top: 7vw;
    margin-bottom: 7vw;
}

#bestiltekst {
    margin-bottom: 20vw;
}


/* ---------- menukort styling (pernille) ---------- */

#menukort-billede {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 3%;
}

#drikkekort-billede {
    width: 80%;
    margin: 0 auto;
    display: block;
}


.activeButton {
    background-color: #dd5050;
}


.activeButton>span {
    color: white;
}

/*scorekort start*/

/*onboarding*/
.onboardh2 {
    margin-top: 45px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.golfben {
    width: 100%;

    top: 0;
}

.golfben2 {
    width: 100%;
    left: 45px;
}

#onboardtekst {
    margin-bottom: 7vw;
}

.onboardknap {
    display: block;
    margin: auto;
}

#springover {
    text-align: center;
}


.skipknapper {
    display: flex;
    justify-content: center;
    margin-bottom: 4vw;
}

.skipknap {
    border: 1.5px outset black;
    background-color: rgb(255, 255, 255);
    height: 3vw;
    width: 3vw;
    box-shadow: 2.5px 2.5px;
    margin-left: 10px;


}

.skipknap2 {
    border: 1.5px outset black;
    background-color: #577D30;
    height: 3vw;
    width: 8vw;
    box-shadow: 2.5px 2.5px;
    margin-right: 10px;
}

.skipknap3 {
    border: 1.5px outset black;
    background-color: rgb(255, 255, 255);
    height: 3vw;
    width: 3vw;
    box-shadow: 2.5px 2.5px;
    margin-right: 10px;
}

.skipknap4 {
    border: 1.5px outset black;
    background-color: #577D30;
    height: 3vw;
    width: 8vw;
    box-shadow: 2.5px 2.5px;
    margin-left: 10px;
}


/*-------------antalspillere (tine)-------------*/
.polse {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
    width: 50%;
    margin-top: 70px;
    margin-bottom: 70px;
}


.number,
.create {
    border: 2.5px outset black;
    background-color: white;
    height: 10vw;
    width: 35vw;
    font-family: sofia-pro, sans-serif;
    font-weight: 800;
    font-size: 4.75vw;
    box-shadow: 2.5px 2.5px;
    display: block;
    margin: auto;
}

/*-------------indtast jeres navne (tine)-------------*/

input {
    border: 2.5px outset black;
    background-color: white;
    height: 10vw;
    width: 80vw;
    font-family: sofia-pro, sans-serif;
    font-weight: 800;
    font-size: 4.75vw;
    box-shadow: 2.5px 2.5px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    outline: none;
}

.plus {
    border: 2.5px outset black;
    background-color: white;
    height: 10vw;
    width: 40vw;
    font-family: sofia-pro, sans-serif;
    font-weight: 800;
    font-size: 4.75vw;
    box-shadow: 2.5px 2.5px;
    margin-bottom: 70px;
    margin-left: 40px;
}

/*HUL 1*/
#scoreboardUl{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    margin-right: 10vw;
    
}

#hulH2{
    text-align: center;
    margin: 0;
}

#scoreboardknap{
    width: 18vw;
    height: 9vw;
}

/* ---------- tillykke siden (tine) ---------- */
.vinder_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
}

.vinderet {
    grid-column: 1/2;
}

.vinderto {
    grid-column: 2/3;
}

.vindertre {
    grid-column: 3/4;
}

h3 {
    text-align: center;
    margin: 0;
}

.overskrift {
    text-align: center;
    margin-left: 0;
    margin-top: 25px;
}

.onboardknap_share {
    border: 2.5px outset black;
    background-color: white;
    height: 10vw;
    width: 50vw;
    font-family: sofia-pro, sans-serif;
    font-weight: 800;
    font-size: 4.75vw;
    box-shadow: 2.5px 2.5px;
    outline: none;
    display: block;
    margin: auto;
}

.leaderboard {
    display: block;
    margin: auto;
}

.nyp {
    text-align: center;
}

/* ---------- footer styling (pernille) ---------- */


.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.footer-grid-item-1 {
    grid-area: 2 / 1 / 3 / 2;
    align-self: end;
}

.footer-grid-item-2 {
    grid-area: 1 / 1 / 2 / 4;
    margin-top: 5%;

}

.footer-grid-item-3 {
    grid-area: 2 / 2 / 3 / 3;
    margin-top: 6%;
}

.footer-grid-item-4 {
    grid-area: 2 / 3 / 3 / 4;
    align-self: end;
}


.telt-billede {
    width: 115%;
}

.kiosk-billede {
    width: 115%;
    margin-right: 0;
}

.footer-grid-item-2>p {
    text-align: center;
}

.bold-tekst-footer {
    font-weight: 700;
    font-size: 20px;
}

.footer-grid-item-3 {
    display: flex;
}

.footer-grid-item-3>div {
    text-align: center;
    justify-content: center;
}

.footer-grid-item-3>div>a>img {
    width: 60%;
}

.facebook-billede>a>img {
    margin-right: 8%;
    float: right;
}

.instagram-billede>a>img {
    margin-left: 8%;
    float: left;
}